.virtual-keyboard .row{
    text-align: center;
    margin: 0 0 15px 0;
}

.virtual-keyboard  input{
padding: 10px 20px;
border-radius: 30px;
border: 3px solid #636e72;
background-color: #dfe6e9;
color: #636e72;
cursor: pointer;
transition: 0.3s;
font-weight: bold;
}

.virtual-keyboard input:hover{
background-color: #000;
color: white;
border: 3px solid white;
}