.insert-container {
    border: 2px solid white;
    background-color: rgba(253, 249, 249, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 5px;
    font-weight: bold;
    flex-direction: row;
    padding: 5px;
}

.insert-container div {
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 35px;
    height: 35px;
}