.container {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #b2bec3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: fixed;
    bottom: 45%;
    right: 50%;
    transform: translateX(50%);
}