.container {
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(253, 249, 249, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: fixed;
    bottom: 55%;
    right: 50%;
    transform: translateX(50%);
}